<!DOCTYPE html>
<html>
<head>
    <title>HTML and CSS Resources</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/dashboard.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">KU Coding Bootcamp</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse main-nav" id="navbarsDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Overview<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="css-html-overview.html">HTML/CSS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="git.html">GIT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript.html">JAVASCRIPT</a>
                </li> 
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#html-resources">HTML</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#css-resources">CSS</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                <section class="row placeholders" id="html-resources">
                    <div class="jumbotron text-center">
                        <h2  class="display-3">HTML Resources</h2>
                        <p class="lead"> Hyper Text Markup Language</p>
                        <hr class="my-4">
                        <p>Hypertext Markup Language is the standard markup language for creating web pages
                         and web applications. With Cascading Style Sheets and JavaScript it forms a triad of
                         cornerstone technologies for the World Wide Web. Web browsers receive HTML documents 
                         from a web server or from local storage and render them into multimedia web 
                         pages. HTML describes the structure of a web page semantically and originally 
                         included cues for the appearance of the document.
                        </p>     
                    </div>
                    <div>
                        <ul>
                             <li>Full list of tags at 
                                <a href="http://html5doctor.com/#glossary" target="_blank">HTML 5 Doctor</a>
                            </li>
                            <li>HTML SPEC <a href="https://html.spec.whatwg.org/multipage/">whatwg</a></li>
                            <li>Tutorial 
                                <a href="https://www.codeschool.com/learn/html-css">Code School</a>
                                (cost money)
                            </li>
                            <li>Youtube Tutorial 
                                <a href="https://www.youtube.com/channel/UCzyuZJ8zZ-Lhfnz41DG5qLw">
                                    mmtuts HTML and CSS
                                </a>
                            </li>
                        </ul>
                    </div>

                </section>

                <section class="row placeholders" id="css-resources">
                    <div class="jumbotron text-center">
                        <h2  class="display-3">CSS Resources</h2>
                        <p class="lead"> Casscading Sytle Sheets</p>
                        <hr class="my-4">
                        <p>Cascading Style Sheets is a style sheet language used for describing the
                         presentation of a document written in a markup language. Although most often used 
                         to set the visual style of web pages and user interfaces written in HTML and 
                         XHTML, the language can be applied to any XML document, including plain XML, 
                         SVG and XUL, and is applicable to rendering in speech, or on other media.
                        </p>     
                    </div>
                    <div>
                        <ul>
                            <li> 
                                <a href="https://www.w3.org/TR/css-2017/">W3C CSS3 SPEC</a>
                            </li>
                            <li><a href="css-tricks.com">CSS Tricks Website</a></li>
                            <li>Tutorial 
                                <a href="https://www.codeschool.com/learn/html-css">Code School</a>
                                (cost money)
                            </li>
                            <li>Youtube Tutorial 
                                <a href="https://www.youtube.com/channel/UCzyuZJ8zZ-Lhfnz41DG5qLw">
                                    mmtuts HTML and CSS
                                </a>
                            </li>
                        </ul>
                    </div>

                </section>

            </main>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/site.js"></script>
</body>
</html>